@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  

html,body{
  height: 100%;
  width: 100%;
  background: rgb(71,113,239);
  background: linear-gradient(90deg, rgba(71,113,239,1) 0%, rgba(17,36,95,1) 100%);

}